@import url('https://fonts.cdnfonts.com/css/montserrat');
:root {
  --sweep-delay: 0.1s; /* Shared delay to synchronize animations */
}
html, body {
  background-color: #1a1a1a;
  color: white;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo {
  width: 30px;
  height: 30px;
  display: block;
  padding: 1rem;
  background-color: #000000;
  border-radius: 10px;
  -webkit-box-shadow:0px 0px 10px 12px rgba(46,142,56,0.05);
  -moz-box-shadow: 0px 0px 10px 12px rgba(46,142,56,0.05);
  box-shadow: 0px 0px 10px 12px rgba(46,142,56,0.05);
}

.loading-circle {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: conic-gradient(
    #333 0%,
    #555555cb 5%,     /* Transition into the highlight */
    #555555de 10%,         /* Main highlight color */
    #555555cb 15%,    /* Transition out of the highlight */
    #333 60%,         /* Background color */
    #333 100%         /* Fill the remaining part with #333 */
  );
  position: relative;
  animation: loadingSweep 2s linear infinite var(--sweep-delay);
}

.loading-circle::before {
  content: '';
  width: 120px;
  height: 120px;
  background: #1a1a1a;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes loadingSweep {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.loading {
  width: 100px;
  height: 20px;
  background: linear-gradient(
      90deg,
      #333 25%,
      #555 50%,
      #333 75%
  ); /* Dark gray to light gray to dark gray */
  background-size: 200% 100%;
  animation: sweep 1.5s linear infinite;
}
  
@keyframes sweep {
  0% {
  background-position: 200% 0;
  }
  100% {
  background-position: -200% 0;
  }
}

.footer {
  background-color: #141414;
  color: #ffffff; 
  padding: 20px;
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  align-items: center;
  padding-left: var(--padding);
  padding-right: var(--padding);
}

.footer-left {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.footer-nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.footer-nav a:hover {
  color: #9bf3a5;
}

.footer-rights {
  color: #ffffff;
  font-size: 0.9rem;
}
