.Appointment {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-left: var(--padding);
  padding-right: var(--padding);
  height: 100%;
}

.Appointment h2 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.appt-desc {
  margin-bottom: 1rem;
}

.appointment-content {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  gap: 1.5rem;
}

.CurrentAppointments,
.BookAppointment {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px #9bf3a542;
  height: 100%;
}

.CurrentAppointments {
  width: 50%;
}

.CurrentAppointments h2,
.BookAppointment h2 {
  font-size: 1.2rem;
  margin: 0;
}

.no-appointments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 1rem;
  text-align: center;
  margin: auto;
}

.no-appointments svg {
  color: rgb(252, 95, 95);
}

.appointment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.left h3 {
  margin: 0;
}

.appointment img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.modify {
  background-color: transparent;
  color: white;
  border: none;
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  border: 1px solid #41924a;
  transition: background-color 0.3s;
}

.modify:hover {
  background-color: #41924a;
}

.ModifyAppointment {
  position: fixed; 
  background-color: rgba(20, 20, 20, 0.55); 
  height: 100vh; 
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modify-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 2rem; 
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  text-align: center; 
  max-width: 500px;
}

@media screen and (max-width: 768px) {

}

.modify-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 350px;
  max-width: 500px;
}

.selection {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.selection h3 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.selection select {
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin: auto;
    border: none;
    text-align: center;
    border: 1px solid #b2f3b9;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    outline: none;
}

.selection option {
  background-color: #141414;
  color: white;
}

.selection p {
  margin-top: 1rem;
  font-size: 0.8rem;
  text-wrap: wrap;
}

.modify-container .close {
  margin-left: auto;
  margin-bottom: 0.5rem;
  color: rgb(235, 90, 90);
  cursor: pointer;
}

.Reschedule {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.back-to-selection.cancel, .confirm-changes.cancel {
  margin-right: 0;
}

.back-to-selection, .confirm-changes {
  background-color: transparent;
  color: white;
  border: none;
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  margin-right: auto;
  margin-top: 1rem;
  border: 1px solid rgb(252, 95, 95);
  transition: background-color 0.3s;
}

.back-to-selection:hover {
  background-color: rgb(252, 95, 95);
}

.confirm-changes {
  border: 1px solid #41924a;
  transition: background-color 0.3s;
}

.confirm-changes:hover {
  background-color: #41924a;
}

.note {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border: 1px solid rgb(252, 95, 95);
  background-color: rgba(175, 49, 49, 0.705);
  width: 70%;
}

.note h5 {
  margin: 0;
}

.note p {
  font-size: 0.8rem;
}

.top-row-note {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 0.3rem;
}

.appointment-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}

.appt-left-payment {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 70%;
}

.appt-left-payment h3 {
  margin: 0;
}

.appt-right-payment {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: right;
  width: 30%;
}

.pay {
  background-color: transparent;
  color: white;
  border: none;
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  border: 1px solid #41924a;
  transition: background-color 0.3s;
}

.pay:hover {
  background-color: #41924a;
}

/* Bookings */

.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.booking h4 {
  margin: 0;
}

.booking p {
  margin-bottom: 1rem;
}

.select-pet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
}

.service-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
}

.no-pets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-pet h4 {
  margin: 0;
}

.no-pets svg {
  color: rgb(252, 95, 95);
  margin-bottom: 1rem;
}

.no-pets a {
  background-color: transparent;
  color: white;
  border: none;
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  border: 1px solid #41924a;
  transition: background-color 0.3s;
}

.no-pets a:hover {
  background-color: #41924a;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.form select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border: 1px solid #b2f3b9;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  outline: none;
}

.form option {
  background-color: #141414;
  color: white;
}

.form #nextbtn {
  background-color: transparent;
  color: white;
  border: none;
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  border: 1px solid #41924a;
  transition: background-color 0.3s;
}

.form #nextbtn:hover {
  background-color: #41924a;
}

.form #nextbtn:disabled {
  cursor: not-allowed;
}

.form #backbtn {
  background-color: transparent;
  color: white;
  border: none;
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 5px;
  width: 10%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  border: 1px solid rgb(252, 95, 95);
  transition: background-color 0.3s;
}

.form #backbtn:hover {
  background-color: rgb(252, 95, 95);
}

.form #confirmbtn {
  background-color: transparent;
  color: white;
  border: none;
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  border: 1px solid #41924a;
  transition: background-color 0.3s;
}

.form #confirmbtn:hover {
  background-color: #41924a;
}

.dropdown-subtitle {
  font-size: 0.8rem;
}

.user-select {
  width: 20%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border: 1px solid #b2f3b9;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  outline: none;
}

.user-select option {
  background-color: #141414;
  color: white;
}

/* Date Picker Input */
.date-picker-container {
  display: flex;
  position: relative;
  width: 60%;
  margin: auto;
}

.date-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #b2f3b9;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  background-color: transparent;
  margin-bottom: 1rem;
}

.date-picker-popup {
  position: absolute;
  margin: auto;
  top: 50px;
  left: 0;
  width: 100%;
  background: rgb(56, 56, 56);
  border: 1px solid #b2f3b9;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

/* Calendar */
.calendar {
  padding: 10px;
  display: grid;
  grid-template-rows: auto 1fr;
}

.calendar-header {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.calendar-header button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.calendar-header button:hover {
    color: #41924a;
}

.calendar-header button:disabled {
    color: #5e5e5e;
    background-color: transparent;
    cursor: not-allowed;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

/* Calendar Headers */
.day-header {
  font-weight: bold;
  color: white;
  background-color: #333 !important;
}

/* Disabled (Weekend) Cells */
.calendar-cell.disabled {
  color: #ffffff;
  background-color: #4b4e4b;
  cursor: not-allowed;
}

.calendar-cell.available:hover {
  background-color: #007bff;
  color: white;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.calendar-cell {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #41924a;
  transition: background-color 0.3s;
}

.calendar-cell.empty {
  background-color: transparent;
  cursor: default;
}

.time-slots-resch {
  display: flex;
  flex-direction: column;
}

.time-slots-container.resch {
  width: 100%;
}

.date-input.resch {
  margin-top: 1rem;
}

.date-picker-container.resch {
  width: 100%;
}

.date-picker-container.resch.times-on {
  width: 80%;
}

.date-picker-popup.resch {
  top: 60px;
}

.time-slots-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 60%;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 300px;
  justify-content: center;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.time-slot-button {
  padding: 10px 15px;
  min-width: 200px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border: 1px solid #b2f3b9;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.time-slot-button.selected {
  background-color: #41924a;
  border: #41924a;
}

.time-slot-button:hover {
  background-color: #41924a;
  border: #41924a;
}

.time-slot-button:active {
  background-color: #41924a;
  border: #41924a;
}

/* Scrollbar Container */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height for horizontal scrollbar */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #252525; /* Light background for the track */
  border-radius: 4px; /* Rounded edges */
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: #696969; /* Gray color for the scrollbar thumb */
  border-radius: 4px; /* Rounded edges */
  transition: background-color 0.3s ease;
}

/* Scrollbar Thumb Hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; /* Darker gray on hover */
}

.summary-pet img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.summary-pet h3 {
  margin: 0;
}

.summary-pet p {
  color: #ccc;
}

@media screen and (max-width: 768px) {
  .Appointment {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .appointment-content {
    flex-direction: column;
  }
  .appointment {
    flex-direction: column;
  }

  .CurrentAppointments,
  .BookAppointment {
    width: 90%;
    margin: auto;
  }

  .no-appointments {
    width: 100%;
  }

  .no-pets {
    width: 100%;
  }
}
