.manageButton {
    background-color: rgba(0, 0, 0, 0);
    padding: 0.8vw 1.5vw;
    font-size: 1.5em;
    text-decoration: none;
    color: #D5DDDF;
    transition: 0.3s ease-in-out;
    border: none;
    border-style: solid;
    border-radius: 10em;
}

.done {
    background-color: #6B8E4E;
    padding: 0.8vw 1.5vw;
    font-size: 1.5em;
    text-decoration: none;
    color: #1a1a1a;
    transition: 0.3s ease-in-out;
    border: none;
    border-style: solid;
    border-radius: 10em;
}

.done:hover {
    cursor: pointer;
    color: #D5DDDF;
}

.manageButton:hover {
    cursor: pointer;
    color: #6B8E4E;
}