.petProfile {
    margin: 2vw;
    color: #D5DDDF;
}

h1, h2 {
    padding: 0;
    margin: 0;
}

.petRow {
    display: flex;
    align-items: center;
    margin: 2vw;
    column-gap: 2vw;
}

.petTitle, .petStats, .petTraits, .petAllergies, .petVaccinations, .petVisits, .appointmentItem {
    padding: 2em;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: #3c3e3c;
}

.appointmentItem {
    padding: 1em;
    margin: 1em;
}

.appointmentItem h3 {
    margin: 0;
    padding: 0;
}

.appointmentItem .doctorName {
    font-size: 1.5em;
}
.appointmentDate {
    margin-top: 4px;
    display: flex;
    align-items: center;
    column-gap: .8em;
}

.petTitle {
    padding: 3.2em 2em;
    width: 28%;
    display: flex;
    align-items: center;
    column-gap: 2vw;
}

.petStats {
    padding: 1.5em;
}

.numberUnit {
    display: flex;
    align-items: baseline;
    column-gap: 15px;
}

.numberUnit h1 {
    font-size: 6em;
    font-weight: 100;
}

.petStats {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stringStat, .numberStat {
    width: 25%;
}

h2 {
    font-weight: 200;
}

.stringStat h2, .numberStat h2{
    margin-bottom: 10px;
}

.stringStat h1 {
    font-weight: 100;
    font-size: 2.8em;
}


.petStats {
    width: 62%;
}

.petTraits, .petAllergies, .petVaccinations, .petVisits {
    height: 25em;
}

.petTraits, .petAllergies, .petVaccinations {
    width: 16.5%;
}

.petVisits {
    width: 28%;
}

.petVisits h2, .petVaccinations h2, .petTraits h2, .petAllergies h2 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

.title {
    display: flex;
    align-items: center;
    padding: 0em 2em;
}

.backSection {
    width: 50%;
    display: flex;
    align-items: center;
    column-gap: 2vw;
}

.editSection {
    padding: 0em 2em;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.petProfileContainer {
    overflow: auto;
    height: 87%;
}

.petAllergies .petProfileContainer {
    margin-top: 1.6em;
}

.infoBubbleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoBubble {
        width: 85%;
}

.infoBubble h2 {
    background-color: #121412;
    border: solid 2px #3c3e3c;
    border-radius: 50px;
    text-align: center;
    padding: 0.6em;
    margin-bottom: .5em;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
    
}